* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Highlights {
  min-height: 100%;
}

.image{
  flex: 1;
  width: 100%;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.footer-text {
  position: fixed-bottom;
  top: 100%;
  font-size: 10px;
  text-align: center;
}

.form-box {
  width: 50%;
  height: 100%;
  border: 2px solid red;
  flex-direction: column;
  display: flex;
  padding: 50px;
  justify-content: center;
}

.banner-text {
  text-align: center;
  font-size: 19px;

}